body {
	background-color: Green;
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  padding:20px;
  text-align: center;
}

.TitleBar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

.TitleBar p{

text-align: center;
	
}

.main img{
	
	transform: rotate(90deg);
	float:left; 
	width: 55%;
	color: Black;
	
}

.main figcaption{
	
	width: 170%;
	color: Black;
	
}

.TitleBar {
    text-align: center;
}

