body {
	background-color: Teal;
}

.TitleBar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

myImage{
	
	transform: rotate(90deg);
	float:left; 
	width: 55%;
	
}

theCaption{
	
	width: 170%;
	
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  padding:20px;
  text-align: center;
}